.menus{
    font-size: 1.2em;
    margin: 6.5px;
}
.navbar-toggler-icon{
    color: white;
}

.rubik-doodle-shadow-regular {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 600;
    font-style: normal;
  }

